.button,
button,
input[type="submit"],
#submit {
    background: @accent-color;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    -webkit-appearance: none; // prevent the dropshadow on input field
	border-radius: 0; // prevent rounded corners in iOS
    border: 1px solid @accent-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
    .transition ( all 0.2s linear );
}

#submit:hover,
button:hover,
.button:hover,
.button:focus,
input[type=submit]:hover {
    text-decoration: none;
    color: #fff;
    background: darken( @accent-color, 8% );
}

#submit,
input[type=submit],
button,
.button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
}

@media only screen and ( min-width: @screen-sm-min ) {

    // large
    .button.large {
        font-size: 1.5rem;
        padding: 1.5rem 2.25rem;
    }

    .button.huge {
        font-size: 2rem;
        padding: 1.5rem 2.5rem;
    }
}

@media only screen and ( min-width: @screen-md-min ) {

    .button.wide {
        display: block;
    }

    button.wide {
        width: 100%;
    }
}
