.site-footer {
	background: @footer-color;

	a,
	a:hover {
		border-bottom: none;
	}

	.main-navigation {
		margin-bottom: 2rem;
	}

}

.site-info {
	text-align: center;
	padding: 2rem;
	line-height: 1.62;
}
