
// #menu-toggle-wrap holds the nav cart icon and the button to expand the mobile menu
// .site-header-menu is a class given to the main navigation
// #site-header-secondary-menu is a wrap that contains the secondary navigation and the nav cart by default
// #secondary-navigation is the secondary navigation
// .menu-toggle is the button shown at mobile sizes to expand the navigation

//
//
// General navigation styling
//
//

// remove outlines
button:hover,
button:focus {
	outline: none;
}

// navigation list styling
.secondary-navigation ul,
.main-navigation ul {
	list-style: none;
	margin: 0;
}

#menu-toggle-wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
	align-self: center;
}

.site-header-menu {
	display: none; // hide any menus by default at mobile sizes
    -webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
}

// the secondary navigation wrap
#site-header-secondary-menu {
	padding-right: 2rem;
}

// show the main navigation when the mobile menu has been toggled, or when there is no JavaScript
.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
}


//
//
// Menu button shown at mobile sizes
//
//
.menu-toggle {
	background-color: @menu-toggle-bg-color;
	border: @menu-toggle-border;
	color: @menu-toggle-color;
	margin: 0;
	padding: 0.5rem 1rem;
	font-size: 1rem;
}

.menu-toggle:hover {
    background-color: @menu-toggle-bg-hover-color;
    color: @menu-toggle-hover-color;
    border: @menu-toggle-hover-border;
}

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
	background-color: @menu-toggle-on-background-color;
	border-color: @menu-toggle-on-border-color;
	color: @menu-toggle-on-color;
}

.no-js .menu-toggle {
	display: none;
}



//
//
// Main navigation styling
//
//

// .main-navigation {
// 	padding: 0;
// }

.main-navigation a {
	display: block;
	line-height: 1.5;
	font-size: @nav-font-size;
	font-weight: @nav-font-weight;
	padding: 0.84375rem 0;
	color: @nav-color;
	border-bottom: none;
}

.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
	color: @nav-active-color;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: @nav-hover-color;
	border-bottom: none;
}

.main-navigation li {
	border-top: @menu-toggle-border-top; // border above each list item at mobile size
	position: relative;
	padding: 0;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.875em;
}

// leave right margin for the button
.main-navigation .menu-item-has-children > a {
	margin: 0;
	padding-right: 2rem;
}

.no-js .main-navigation ul ul,
.main-navigation ul .toggled-on {
	display: block;
}


//
//
// Secondary navigation styling
//
//
.secondary-navigation a {
	display: block;
	line-height: 32px;
	padding: 8px 1rem;
	color: @nav-secondary-color;
	font-size: @nav-secondary-font-size;
	font-weight: @nav-secondary-font-weight;
}


//
//
// Site footer navigation
//
//
.site-footer .main-navigation {
	padding: 0 2rem;
}

.site-footer .main-navigation li {
	border-top: @menu-toggle-footer-border-top;
}

.site-footer .main-navigation a {
	color: @nav-footer-color;
}

.site-footer .main-navigation a:hover,
.site-footer .main-navigation a:focus {
	color: @nav-footer-hover-color;
}

.site-footer .main-navigation .current-menu-item > a,
.site-footer .main-navigation .current_page_ancestor > a {
	color: @nav-footer-active-color;
}


//
//
// Dropdown toggles
// Expands the sub menu items at mobile size
//
//
.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: @dropdown-toggle-color;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	text-transform: none;
	top: 0;
	right: 0;
	width: 48px;

	&:hover {
		background: transparent;
		border-bottom: none;
	}
}

.dropdown-toggle:after {
	border-left: @dropdown-toggle-border-left;
	content: "\f431";
	font-size: 24px;
	position: relative;
	left: 1px;
	width: 48px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	color: @dropdown-toggle-hover-color;
}

.dropdown-toggle.toggled-on:after {
	content: "\f432";
}

@media only screen and ( max-width: @nav-sm-max ) {

	// site header menu
	.site-header-menu {
		padding: 0;
        margin-top: 2rem; // for the expanded menu
	}

}

@media only screen and ( min-width: @nav-md-min ) {

	// clearfix
	#site-navigation ul.menu:after,
	#secondary-navigation ul.menu:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	.site-header-menu {
		display: block;
	}

	#site-header-secondary-menu {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;

        // makes it right aligned next to .site-branding
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}

	// sub menu
	.main-navigation .sub-menu a {
		padding: 0.5rem 1rem;
		color: @nav-sub-color;
	}

	.main-navigation .sub-menu .current-menu-item a {
		color: @nav-sub-active-color;
        background: @nav-sub-background-active-color;
	}

	.main-navigation {
	//	margin: 0 -0.875rem;
		margin: 0 auto;
        max-width: @page-wrap-max-width;
        padding: 0 2rem;
	}

	.main-navigation li {
		border: 0;
		float: left;
	}

	.main-navigation a {
		outline-offset: -8px;
		padding: @nav-md-padding;
		white-space: nowrap;
	}

	.main-navigation li:hover > a,
	.main-navigation li.focus > a {
		color: @nav-hover-color;
	}

	.secondary-navigation li {
		float: left;
	}

	.secondary-navigation a {
		padding: @nav-secondary-md-padding;
	}

	// sub-menus
	.main-navigation .sub-menu li:hover > a,
	.main-navigation .sub-menu li.focus > a {
		color: @nav-sub-hover-color;
		background: @nav-sub-background-hover-color;
	}

	.main-navigation ul ul {
		border: @nav-sub-border;
		display: block;
		float: left;
		margin: 0;
		position: absolute;
		left: -999em;
		z-index: 99999;
		opacity: 0;
		top: 110%;
		visibility: hidden;
		transition: opacity 0.2s linear, top 0.2s linear, visibility 0.2s linear;
	}

	.main-navigation li:hover > ul,
	.main-navigation li.focus > ul {
		left: auto;
		opacity: 1;
		top: 100%;
		visibility: visible;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
	}

	.main-navigation ul ul ul:before,
	.main-navigation ul ul ul:after {
		border: 0;
	}

	.main-navigation ul ul li {
		background-color: @nav-sub-background-color;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		top: -1px;
	}

	.main-navigation ul ul a {
		white-space: normal;
		width: 15em;
		font-size: @nav-sub-font-size;
		font-weight: @nav-sub-font-weight;
		line-height: 1.5;
	}

	.main-navigation ul ul:before,
	.main-navigation ul ul:after {
		content: "";
		border-style: solid;
		position: absolute;
	}

	// arrow
	.main-navigation ul ul:before {
		top: -9px;
		left: 14px;
		border-width: 0 10px 10px;
		border-color: @nav-sub-arrow-border-color transparent;
	}

	// arrow
	.main-navigation ul ul:after {
		top: -7px;
		left: 1rem;
		border-width: 0 8px 8px;
		border-color: @nav-sub-arrow-color transparent;
	}

	.main-navigation .menu-item-has-children > a:after {
		content: "\f431";
		position: absolute;
		right: 0.625em;
		top: 50%;
		margin-top: -9px;
	}

	.main-navigation ul ul .menu-item-has-children > a {
		padding-right: 2.0625em;
	}

	// rotate the down error so it becomes a right arrow
	.main-navigation ul ul .menu-item-has-children > a:after {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		top: 50%;
		margin-top: -9px;
		right: 0.5625em;
	}

	// don't show at desktop sizes
	.dropdown-toggle,
	.main-navigation ul .dropdown-toggle.toggled-on,
	.menu-toggle,
	.site-footer .main-navigation {
		display: none;
	}

    #primary-menu {
       margin: 0 -0.875rem;
    }

}

@media only screen and ( min-width: @nav-lg-min ) {

	#site-header-secondary-menu {
		padding: @site-header-secondary-menu-lg-padding;
	}

    .main-navigation {
        padding: 0;
	}

    #primary-menu {
       margin: 0 auto;
       max-width: 1220px;
    }

}
