
// site header menu
.site-header-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin-top: 2rem;
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
}

// menu button shown at mobile sizes
.menu-toggle {
	background-color: @menu-toggle-bg;
	border: @menu-toggle-border;
	color: @menu-toggle-color;
	margin: 0;
	padding: 0.5rem 1rem;
	font-size: 1rem;

	&:hover {
		background: transparent;
		color: @menu-toggle-hover-color;
		border: @menu-toggle-hover-border;
	}
}

button:hover,
button:focus {
	outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
	border-color: @medium-grey;
}

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
	background-color: @menu-toggle-on-background-color;
	border-color: @menu-toggle-on-border-color;
	color: @menu-toggle-on-color;
}

.no-js .menu-toggle {
	display: none;
}

// main navigation
.main-navigation ul {
	list-style: none;
	margin: 0;
}

.main-navigation li {
	border-top: @menu-toggle-border-top;
	position: relative;
	padding: 0;
}

.site-footer .main-navigation li {
	border-top: @menu-toggle-footer-border-top;
}

.main-navigation a {
	display: block;
	line-height: 1.3125;
	padding: 1rem 0;
	font-size: 1rem;
	padding: 0.84375rem 0;
	color: @nav-color;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: @nav-hover-color;
}

.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
	color: @nav-active-color;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.875em;
}

.no-js .main-navigation ul ul,
.main-navigation ul .toggled-on {
	display: block;
}

// site footer navigation
.site-footer .main-navigation a {
	color: @nav-footer-color;
}

.site-footer .main-navigation a:hover,
.site-footer .main-navigation a:focus {
	color: @nav-footer-hover-color;
}

.site-footer .main-navigation .current-menu-item > a,
.site-footer .main-navigation .current_page_ancestor > a {
	color: @nav-footer-active-color;
}

// leave margin for the button
.main-navigation .menu-item-has-children > a {
	margin: 0;
	padding-right: 2.25em;
}

// dropdown toggles at mobile sizes
.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	text-transform: none;
	top: 0;
	right: 0;
	width: 48px;

	&:hover {
		background: transparent;
	}
}

.dropdown-toggle:after {
	border-left: 1px solid #e8e8e8;
	content: "\f431";
	font-size: 24px;
	position: relative;
	left: 1px;
	width: 48px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	color: #007acc;
}

.dropdown-toggle.toggled-on:after {
	content: "\f432";
}


@media only screen and ( min-width: @screen-md-min ) {

	.site-header-menu {
		display: block;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		align-self: center;
		margin-top: 0;
	}

	// sub menu
	.main-navigation .sub-menu a {
		padding: 0.5rem 1rem;
		color: @nav-sub-color;
	}

	.main-navigation .sub-menu .current-menu-item a {
		color: @nav-sub-active-color;
	}

	.main-navigation {
		margin: 0 -0.875rem;
	}

	.main-navigation li {
		border: 0;
		float: left;
	}

	.main-navigation a {
		outline-offset: -8px;
		padding: @nav-md-padding;
		white-space: nowrap;
	}

	.main-navigation li:hover > a,
	.main-navigation li.focus > a {
		color: @nav-hover-color;
	}

	.main-navigation .sub-menu li:hover > a,
	.main-navigation .sub-menu li.focus > a {
		color: @nav-sub-hover-color;
	}

	.main-navigation ul ul {
		border-bottom: 1px solid @medium-grey;
		display: block;
		float: left;
		margin: 0;
		position: absolute;
		left: -999em;
		z-index: 99999;
	}

	.main-navigation ul ul ul {
		left: -999em;
		top: -1px;
	}

	.main-navigation ul ul ul:before,
	.main-navigation ul ul ul:after {
		border: 0;
	}

	.main-navigation ul ul li {
		background-color: #fff;
		border-color: @medium-grey;
		border-style: solid;
		border-width: 1px 1px 0;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
	}

	.main-navigation ul ul a {
		white-space: normal;
		width: 15em;
		font-size: 1rem;
		line-height: 1.5;
	}

	.main-navigation ul ul:before,
	.main-navigation ul ul:after {
		content: "";
		border-style: solid;
		position: absolute;
	}

	// arrow
	.main-navigation ul ul:before {
		top: -9px;
		left: 14px;
		border-width: 0 10px 10px;
		border-color: @medium-grey transparent;
	}

	// arrow
	.main-navigation ul ul:after {
		top: -7px;
		left: 1rem;
		border-width: 0 8px 8px;
		border-color: #fff transparent;
	}

	.main-navigation li:hover > ul,
	.main-navigation li.focus > ul {
		left: auto;
	}

	.main-navigation .menu-item-has-children > a:after {
		content: "\f431";
		position: absolute;
		right: 0.625em;
		top:50%;
		margin-top: -9px;
	}

	.main-navigation ul ul .menu-item-has-children > a {
		padding-right: 2.0625em;
	}

	// rotate the down error so it becomes a right arrow
	.main-navigation ul ul .menu-item-has-children > a:after {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		top: 50%;
		margin-top: -9px;
		right: 0.5625em;
	}

	// don't show at desktop sizes
	.dropdown-toggle,
	.main-navigation ul .dropdown-toggle.toggled-on,
	.menu-toggle,
	.site-footer .main-navigation {
		display: none;
	}



}
