
// WordPress related
figure.wp-caption {
	max-width: 100%;
	margin: 0 0 2rem 0;
}


article[class^="post-"] + article[class^="post-"] {
    padding-top: 3.5em;
}

.entry-title a {
    border-bottom: none;
}

// align things right
.alignright {
    float: right;
    margin: 0 0 2rem 2rem;
}

.entry-footer > span:not(:last-child):after {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

.entry-header {
	margin-bottom: 2rem;
}

.post-thumbnail {
	margin-bottom: 2rem;
}

// comments

.comment-metadata {
	margin-bottom: 2rem;
}

.comment-metadata,
.pingback .edit-link {
		font-size: 1rem;
}

.comment {
	padding: 2rem;
}

.comment-list > .comment {
	border-bottom: 2px solid @light-grey;
	padding-left: 0;
}

.children {
	margin-top: 2rem;
}

.children .comment {
	border-left: 2px solid @light-grey;
}


@media all and ( max-width: 1030px ) {

    // images shouldn't be floated on small screens
    .entry-content img {
        display: block;
        float: none;
        margin: 0 auto 2rem auto;
    }

}

// Medium Devices, Desktops
@media only screen and ( min-width : 992px ) {

	.no-sidebar .entry-header {
		text-align: center;
	}

	.has-sidebar .entry-header {
		margin-bottom: 0;
	}

    .entry-header {

    	padding: 3rem 2rem 3rem 2rem;
    	margin: 0 -2rem 4rem -2rem;

    	.entry-title {
    		margin-bottom: 0;
    	}

    }

}
