// Structure

#main {
	padding-top: 2rem;
}

// site wrapper
#page {
	max-width: @page-max-width;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;

	// flexbox sticky footer
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
}

// content area
#content {
	background: @content-color;
	flex: 1 0 auto;
}


// all pages when a sidebar is active

#primary-sidebar aside {
	padding: 1rem 0;
	border-bottom: 2px solid @light-grey;
}

// wrappers are always centered
.wrapper {
	margin-left: auto;
	margin-right: auto;
}

.no-sidebar #content > .wrapper {
	border-bottom: none;
}

#secondary {
	border-left: 2px solid @light-grey;
}

// standard page
body .wrapper {
	max-width: @width-standard;
}

// full-width template
body.width-full .wrapper {
	max-width: 100%;
}

// width-slim template
body.width-slim .wrapper {
	max-width: @width-slim;
}

// width-wide template
body.width-wide .wrapper {
	max-width: @width-wide;
}

// single posts, no sidebar
body.single-post.no-sidebar .wrapper {
	max-width: @width-slim;
}

body.blog.no-sidebar .wrapper {
	max-width: @width-slim;
}

// allows wrappers to be overridden
.wrapper.full-width { max-width: 100%; }
.wrapper.slim { max-width: @wrapper-slim; }
.wrapper.wide { max-width: @wrapper-wide; }

@media only screen and ( min-width: @screen-md-min ) {

	.no-sidebar #primary {
		width: 100%;
	}

	.wrapper .entry-content {
		margin: 0 auto;
	}

	body.has-sidebar .wrapper {
		border-bottom: 2px solid @light-grey;
	}

	#primary-sidebar aside {
		padding: 2rem;
	}

	// this makes sure #primary and #secondary are next to each other
	body.has-sidebar #content .wrapper:first-of-type {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

}

@media only screen and ( min-width: @screen-md-min ) {
	#secondary { padding-left: 0; }
}

@media only screen and ( min-width: @screen-lg-min ) {
	.wrapper.has-sidebar #secondary { padding-right: 0; }
}
