@background-color: #e6eaec;

// other
@green: #85d085;
@purple: #b685c9;

// colors
@site-title-color: #222;

@site-description-color: #a2a2a2;

@primary-color: @purple;
@accent-color: @purple;

// heading colors
//@heading-color: #4E4E4E;
@heading-color: #222;

@code-color: @heading-color;
@body-text-color: #787878;

// link colors
@link-color: #222;
@link-hover-color: @accent-color;
@underline-color: #bababa;

@content-color: #fff;
@masthead-color: #fff;
@footer-color: #fff;

// defaults
@light-grey: #f5f5f5;
@medium-grey: #ddd;

// breakpoint
@breakpoint: 820px;
