// colors
@primary-color: #448FD5;
@accent-color: #448FD5;

@link-color: #222;
@link-hover-color: @accent-color;

// menu toggle
@menu-toggle-bg: transparent;
@menu-toggle-color: #222;
@menu-toggle-hover-color: @menu-toggle-color;
@menu-toggle-on-background-color: #222;
@menu-toggle-on-border-color: @menu-toggle-on-background-color;
@menu-toggle-on-color: #fff;
@menu-toggle-border: 1px solid @medium-grey;
@menu-toggle-hover-border: @menu-toggle-border;
@menu-toggle-border-top: 2px solid @light-grey;
@menu-toggle-footer-border-top: @menu-toggle-border-top;

// main nav links
@nav-color: #222;
@nav-hover-color: @primary-color;
@nav-active-color: @primary-color;
@nav-md-padding: 1rem;

// sub-menu links
@nav-sub-color: @body-text-color;
@nav-sub-hover-color: @body-text-color;

// footer nav links
@nav-footer-color: @nav-color;
@nav-footer-hover-color: @nav-hover-color;
@nav-footer-active-color: @nav-active-color;

@font-stack: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

@background-color: #f5f5f5;

@site-title-color: #222;
@site-description-color: #a2a2a2;
@heading-color: #373737;
@code-color: @heading-color;
@body-text-color: #787878;
@content-color: #fff;
@masthead-color: #fff;
@footer-color: #fff;
@underline-color: #bababa;

@light-grey: #f5f5f5;
@medium-grey: #ddd;

@masthead-padding: 2rem;

// breakpoints
@screen-sm-min: 768px; // 48em
@screen-md-min: 992px; // 62em
@screen-lg-min: 1200px; // 75em

// So media queries don't overlap when required, provide a maximum
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@wrapper-slim: 784px;
@wrapper-wide: 1080px;
@page-max-width: 1280px;
