.widget {
    line-height: 1.62;
}

aside li {
    font-weight: 300;
    font-size: 1rem;
    padding: 0;
}

// remove bottom border on very last widget
#primary-sidebar aside:last-child {
    border-bottom: none;
}
