
.edd_purchase_submit_wrapper {
    position: relative;
}

.edd_purchase_submit_wrapper a.edd-add-to-cart {
    text-decoration: none;
    display: none;
    position: relative;
    overflow: hidden;
}


.edd_purchase_submit_wrapper .edd-cart-ajax {
    display: none;
    position: relative;
    left: -35px;
}

.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js {
    display: inline-block;
}

// wide buttons
.edd_purchase_submit_wrapper a.edd-add-to-cart.wide.edd-has-js {
    display: block;
}

.edd-submit.button.edd-ajax-loading {
    padding-right: 30px
}

.edd-add-to-cart .edd-add-to-cart-label {
    opacity: 1;
    filter: alpha(opacity=100);
}

a.edd-add-to-cart .edd-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
}

a.edd-add-to-cart .edd-add-to-cart-label,
a.edd-add-to-cart .edd-loading {
    -webkit-transition: .1s opacity !important;
    -moz-transition: .1s opacity !important;
    -ms-transition: .1s opacity !important;
    -o-transition: .1s opacity !important;
    transition: .1s opacity !important;
}

.edd-add-to-cart[data-edd-loading] .edd-add-to-cart-label {
    opacity: 0;
    filter: alpha(opacity=0);
}

.edd-add-to-cart[data-edd-loading] .edd-loading {
    opacity: 1;
    filter: alpha(opacity=100);
}

.edd-cart-added-alert {
	padding: 1rem 0;
	display: inline-block;
}

.external svg {
	margin-left: 0.5rem;
}

// add to cart spinner

.edd-icon-spin {
    display: inline-block;
    -moz-animation: edd-icon-spin 2s infinite linear;
    -o-animation: edd-icon-spin 2s infinite linear;
    -webkit-animation: edd-icon-spin 2s infinite linear;
    animation: edd-icon-spin 2s infinite linear;
}

@-moz-keyframes edd-icon-spin {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes edd-icon-spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes edd-icon-spin {
    0% {
        -o-transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(359deg)
    }
}

@-ms-keyframes edd-icon-spin {
    0% {
        -ms-transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(359deg)
    }
}

@keyframes edd-icon-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

@media only screen and ( min-width: 992px ) {

    // only change button on single download page
    .single-download .edd_go_to_checkout {
    	width: 100%;
    }

}
