.edd_cart_item_image {
    display: inline-block;

    img {
        display: block;
        margin-right: 1rem;
    }

}

.edd_cart_item_name {
    display: -webkit-flex;
    display: flex;
}

.edd_checkout_cart_item_title {
    align-self: center;
}

.edd-description {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: lighten( @body-text-color, 10% );
}

// Personal info legend
#edd_checkout_user_info legend {
    font-size: 1.5rem;
}

.edd_cart_actions {
    text-align: right;
}

#edd-purchase-button {
    width: auto;
}

.edd-alert-error {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    background: #FF7B7B;


    p {
        margin-bottom: 0;
        color: #fff;
    }
}
