// notices


.edd-alert {
//    padding: 1rem;
//    font-size: 1rem;
//    margin-bottom: 2rem;
//    color: #fff;
}

.edd_errors {
	background: @error-background-color;
//    border: 1px solid darken( @error, 5% );
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    color: @error-text-color;
}

.edd-alert.edd-alert-success {
    background: @success-background-color;
//    border: 1px solid darken( @success, 5% );
	color: @success-text-color;
}

// warning/notice
// .edd-alert.edd-alert-warn {
//     background: @notice-background-color;
//     border: 1px solid darken( @notice-background-color, 5% );
//
//     p {
//         color: darken( @notice-background-color, 50% );
//     }
// }

.notice {
	background: @notice-background-color;
	color: @notice-text-color;
	margin-bottom: 2rem;
	padding: 1rem;
}

.edd_errors p,
p.edd_error {
    margin-bottom: 0;
    color: #fff;
}
