#primary-sidebar .edd_price {
	margin-bottom: 1rem;
	display: inline-block;
}

.download-title {
	font-size: 3.25rem;
}

.single-download {

	.edd_price {
		font-size: 2rem;

		.currency {
			font-size: 1.5rem;
		}
	}

}

// EDD meta in the download details widget

.edd_download_purchase_form + .edd-meta {
	margin: 1rem 0 0 0;
	font-size: 0.875rem;
}

span.categories,
span.tags {
	display: block;
}

// Medium Devices, Desktops
@media only screen and ( min-width: @screen-md-min ) {

}
