#edd_sl_renewal_form {
    margin-bottom: 2rem;
}

#edd-add-license-renewal {
    cursor: pointer;
    margin-right: 1rem;
	width: auto;
}

#edd_sl_renewal_fields {
    background: @light-grey-alt;
    border: 2px solid @border-light-grey-alt;
    padding: 1rem;

}

.edd-sl-renewal-actions,
#edd_sl_show_renewal_form_wrap {
    margin-bottom: 0;
}

#edd-license-key-container-wrap {
    margin-bottom: 1rem;
}

#edd_sl_license_add_site_form .edd-input {
	margin-bottom: 1rem;
}

input[readonly] {
	background: @light-grey-alt;
	border-color: @border-light-grey-alt;
}
