#edd_sl_renewal_form {
    margin-bottom: 2rem;
}

#edd-add-license-renewal {
    cursor: pointer;
    margin-right: 1rem;
}

#edd_sl_renewal_fields {
    background: @lighter-grey;
    border: 2px solid @light-grey;
    padding: 1rem;

}

.edd-sl-renewal-actions,
#edd_sl_show_renewal_form_wrap {
    margin-bottom: 0;
}

#edd-license-key-container-wrap {
    margin-bottom: 1rem;
}
