.button,
button,
input[type="submit"],
#submit {
    background: @button-background-color;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-image: none;
	border-radius: 0; // prevent rounded corners in iOS
    border: @button-border;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}

#submit:hover,
button:hover,
.button:hover,
.button:focus,
input[type=submit]:hover {
    text-decoration: none;
    color: #fff;
    background: @button-background-hover-color;
	border: @button-border-hover;
}

#submit,
input[type=submit],
button,
.button {
    font-size: 1rem;
    padding: @button-padding;
}

@media only screen and ( min-width: @screen-sm-min ) {

	.button.small {
		font-size: 0.875rem;
        padding: 0.875rem 1.25rem;
	}

    // large
    .button.large {
        font-size: 1.5rem;
        padding: 1.25rem 2.25rem;
    }

    .button.huge {
        font-size: 2rem;
        padding: 1.5rem 2.5rem;
    }
}

@media only screen and ( min-width: @screen-md-min ) {

    .button.wide {
        display: block;
    }

    button.wide {
        width: 100%;
    }
}
