.site-footer {
	background: @footer-color;
	font-size: @footer-font-size;

	a,
	a:hover {
		border-bottom: none;
	}

	.main-navigation {
		margin-bottom: 2rem;
	}

	ul {
		margin-left: 0;
	}

	li {
		list-style-type: none;
	}

}

.site-info {
	text-align: center;
	padding: 2rem;

    p {
        margin-bottom: 0;
    }
}

@media only screen and ( min-width: @screen-sm-min ) {
	.site-footer ul {
        margin-bottom: 0;
    }
}
