// masthead area

#masthead {
	background: @masthead-color;

	a {
		// if a logo image or icon is used it will make the anchor wrap to the same size and be fully clickable
		border: 0 none; // turn off border bottom
	}

}

.site-header-main {
	margin: 0 auto;
	position: relative;
}

.site-header-wrap {
	align-items: center;
    margin: 0 auto;
    max-width: 1252px;
}

.header-image {
	text-align: center;

	a {
		display: block;
	}

	img {
		display: block;
		margin: 0 auto;
	}

}

// for desktop
@media only screen and ( min-width: @screen-sm-min ) {

	.site-header-wrap {
		padding: @site-header-padding;
		max-width: @site-header-wrap-max-width;
		margin: 0 auto;

		display: flex;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;

	}

}
