// Structure

#main {
	padding: 2rem;
}

// site wrapper
#page {
	max-width: @page-max-width;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;

	// flexbox sticky footer
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
}

// content area
#content {
	background: @content-color;
	flex: 1 0 auto;
}

#primary { padding: 0; }

// all pages when a sidebar is active

#primary-sidebar aside {
	padding: 1rem 0;
}

// wrappers are always centered
.wrapper {
	margin-left: auto;
	margin-right: auto;
}

// full-width template
body.width-full .wrapper {
	max-width: 100%;
}

// default = slim
body.single-post #content .wrapper,
body.width-slim #column-wrapper.wrapper,
body.blog #column-wrapper.wrapper {
	max-width: @width-slim;
}

// width-wide template
body.width-wide .wrapper {
	max-width: @width-wide;
}

// allows wrappers to be overridden
.wrapper.full-width { max-width: 100%; }
.wrapper.slim { max-width: @wrapper-slim; }
.wrapper.wide { max-width: @wrapper-wide; }

body .wrapper,
body.has-sidebar.single-post #content .wrapper,
body.blog.has-sidebar #column-wrapper.wrapper {
	max-width: @width-standard;
}

@media only screen and ( min-width: @screen-md-min ) {

	#secondary {
		padding: 0;
	}

	.no-sidebar #primary {
		width: 100%;
	}

	.wrapper .entry-content {
		margin: 0 auto;
	}

	#primary-sidebar aside {
		padding: 2rem;
	}

	// houses the primary and secondary columns
	#column-wrapper {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

}

@media only screen and ( min-width: @screen-lg-min ) {
	.wrapper.has-sidebar #secondary { padding-right: 0; }
}
