.edd_form legend {
	float: left; // Neccessary to position the legend inside the fieldset and have that padding affect it.
}

// Cart saving button.
.edd-cart-saving-button.edd-submit {
	// Style as link.
	color: #007bff;
	font-size: 1rem;
	padding: 0;
	font-weight: 400;
	text-transform: inherit;

	&:hover {
		color: #0056b3;
		text-decoration: underline;
	}
}

// Centers the content when the cart is empty (/checkout)
// Centers the "Your cart is empty." text and "Restore Previous Cart." link.
.edd-empty-cart #edd_checkout_wrap {
	text-align: center;
}


// Card type.
// Shown at EDD checkout when CC is selected and also by EDD recurring when updating the payment method.
span.card-type {
	width: 43px;
	height: 32px;
	background-size: 43px 32px !important;
	top: -0.25rem;
	position: relative;
}

span.card-type.off {
	display: none;
}

span.card-type.visa {
	background: url(assets/images/icons/visa.gif) no-repeat;
}

span.card-type.mastercard {
	background: url(assets/images/icons/mastercard.gif) no-repeat;
}

span.card-type.discover {
	background: url(assets/images/icons/discover.gif) no-repeat;
}

span.card-type.amex {
	background: url(assets/images/icons/americanexpress.gif) no-repeat;
}

// Amazon Payments.
.edd-amazon-profile-wrapper {
	font-size: 1rem;
}

.edd-amazon-profile-name {
	font-weight: bold;
}

// Make the Amazon logout link look clickable.
.edd-amazon-logout a {
	cursor: pointer;
}

// Hide the div with border since all fields inside are hidden anyway.
.edd-amazon-fields #edd_cc_address {
	display: none;
}

// Hard-set the height so the Amazon iframe appears.
#edd-amazon-wallet-box,
#edd-amazon-address-box {
	height: 228px;
}

#edd-amazon-address-box {
	margin-bottom: 2rem;
}

// Payment icons.
.edd-payment-icons {
	margin-bottom: 1.5rem;

	.payment-icon {
		margin-right: 0.5rem;
	}
}

// EDD Stripe overrides.
#edd_purchase_form #edd_secure_site_wrapper {
	padding: 0;
	font-weight: normal;
	clear: both;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;

	.padlock,
	.edd-icon-lock {
		margin-right: 0.5rem;
		align-self: flex-start;
	}
}

// Custom checkout styling.

.edd-description {
	font-size: 0.875rem;
	font-weight: 400;
	display: block;
	margin-bottom: 0.5rem;
}

.edd-select-small {
	width: auto;
}

#edd_purchase_form {

	fieldset p {
		margin-bottom: 1.5rem;
	}

	.edd-label {
		font-weight: 500;
	}

	.edd-label + .edd-description {
		margin-top: -0.5rem;
	}
}

#edd_final_total_wrap {
	text-align: center;
}

#edd-payment-mode-wrap {
	margin-bottom: 1.5rem;

	label {
		display: block;
		clear: both; // Required for the first label after the legend.
	}

	.edd-gateway {
		margin-right: 0.5rem;
	}
}

.edd-required-indicator {
	color: $required-color;
}

.exp-divider {
	margin: 0 0.5rem;
}

.edd-apply-discount {
	margin-left: 1rem;
}

.edd-discount-loader {
	margin-top: 1rem;
}

@include media-breakpoint-up(sm) {
	#edd-payment-mode-wrap label {
		display: inline-block;
		margin-right: 1rem;
	}
}

@include media-breakpoint-up(md) {
	.edd-checkout-distraction-free .site-header {
		grid-template-columns: 1fr;
	}
}