.edd-item-quantity {
	width: 4rem;
}

// Download grid - price options.
.edd_price_options {

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	li {
		display: flex; // Fixes alignment issues at smaller widths.
	}
}

// Download grid - download title.
.edd_download_title a {
	color: $edd-download-title-color;
	font-size: $edd-download-title-font-size;
	display: block;

	&:hover {
		color: $edd-download-title-hover-color;
		text-decoration: none;
	}
}

// Download footer
// Always aligned to the bottom.
// Optional: May contain .eddDownloadMeta
.downloadFooter {
	margin: auto 0 0 0;
}

.edd_download_purchase_form {
	margin-top: 1rem;
}

// EDD Price.
.edd_price {
	font-weight: 600;
}