.edd_price {
	color: $edd-price-color;
}

.edd-item-quantity {
	width: 4rem;
}

// Download grid - price options.
.edd_price_options {

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	li {
		display: flex; // Fixes alignment issues at smaller widths.
	}
}

.edd_download,
.edd_download_inner {
	display: flex;
	flex-direction: column;
}

.edd_download {
	position: relative;
	min-width: 0;
	word-wrap: break-word;
}

.edd_download_inner {
	height: 100%;
}

.edd-download-meta-author-avatar img {
	display: block;
	border-radius: 100%;
}

.edd-download-meta-author-avatar + .edd-download-meta-author-name {
	margin-left: 0.5rem;
}

.edd-download-meta-author-name {
	font-size: 0.875rem;
}

// Download grid - download title.
.edd_download_title a {
	color: $edd-download-title-color;
	font-size: $edd-download-title-font-size;
	display: block;

	&:hover {
		color: $edd-download-title-hover-color;
		text-decoration: none;
	}
}

// For backwards compatibility. Prior to EDD 2.9.7 the download pagination was
// included within the download grid. The following forces the pagination to clear
// the other downloads.
#edd_download_pagination {
	width: 100%;
}