.nav-cart {
	color: $cart-link-color;

	&:hover {
		color: $cart-link-hover-color;
		text-decoration: none;
	}
}

// icon
.nav-cart-icon {
	fill: $gray-600;

	// If the item quantity or cart total is shown next to the cart icon, add some left margin.
	+ * {
		margin-left: 0.5rem;
	}
}