.edd-download-content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.edd_download .edd_price {
	color: $edd-product-price-color;
	font-weight: $edd-product-price-font-weight;
	font-size: $edd-product-price-font-size;
}

.edd-item-quantity {
	width: 4rem;
}

// Download grid - price options.
.edd_price_options {

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	li {
		display: flex; // Fixes alignment issues at smaller widths.
	}
}

.content-wrapper {
	.edd_downloads_list {
		display: grid;
		grid-gap: 4rem; // Temporary until EDD Blocks' selector is less specific.

		// A download grid' width is only altered at the xl breakpoint.
		@include media-breakpoint-up(xl) {

			// Set the max-width for a default grid.
			max-width: map-get( $container-max-widths, "lg" ); // 960px

			// Set the max-width for a grid that has a wide width.
			&.alignwide {
				max-width: map-get( $container-max-widths, "xl" ); // 1140px
			}

			// Remove the max-width for a grid that's full width.
			&.alignfull {
				max-width: none;
				padding-left: 4rem;
				padding-right: 4rem;
			}

		}

	}
}

.edd_download,
.edd_download_inner {
	display: flex;
	flex-direction: column;
}

.edd_download {
	position: relative;
	min-width: 0;
	word-wrap: break-word;
}

.edd_download_inner {
	height: 100%;
}

// Download image.
.edd-download-image {
	margin-bottom: 1rem;
}

.edd-download-meta-author-avatar img {
	display: block;
	border-radius: 100%;
}

.edd-download-meta-author-avatar + .edd-download-meta-author-name {
	margin-left: 0.5rem;
}

.edd-download-meta-author-name {
	font-size: 0.875rem;
}

// Download grid - download title.
.edd_download_title a {
	color: $edd-product-title-color;
	font-size: $edd-product-title-font-size;
	font-weight: $edd-product-title-font-weight;
	display: block;

	&:hover {
		color: $edd-product-title-hover-color;
		text-decoration: none;
	}
}

// Download footer.
.edd-download-footer {
	margin-top: auto;
}

.edd_download_buy_button {
	margin-top: 1rem;
}

// For backwards compatibility. Prior to EDD 2.9.7 the download pagination was
// included within the download grid. The following forces the pagination to clear
// the other downloads.
#edd_download_pagination {
	width: 100%;
}

// Auto columns.
.edd_download_columns_auto {
	grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ) );
}

@include media-breakpoint-up(md) {

	.edd_downloads_list {
		&.edd_download_columns_3,
		&.edd_download_columns_4,
		&.edd_download_columns_5,
		&.edd_download_columns_6 {
			grid-template-columns: repeat( 2, 1fr );
		}
	}

}

@include media-breakpoint-up(lg) {

	.edd_downloads_list {
		&.edd_download_columns_1 {
			grid-template-columns: 1fr;
		}

		&.edd_download_columns_2 {
			grid-template-columns: repeat( 2, 1fr );
		}

		&.edd_download_columns_3 {
			grid-template-columns: repeat( 3, 1fr );
		}

		&.edd_download_columns_4 {
			grid-template-columns: repeat( 4, 1fr );
		}

		&.edd_download_columns_5 {
			grid-template-columns: repeat( 5, 1fr );
		}

		&.edd_download_columns_6 {
			grid-template-columns: repeat( 6, 1fr );
		}
	}

}