// Load Bootstrap variables and mixins.
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Load Themedd variables
@import '../variables';
@import '../variables-secondary';

.affwp-login-register,
#affwp-affiliate-dashboard {
	display: grid;
}

// Register and login forms.
.affwp-login-register {

	grid-row-gap: 1.5rem;
	grid-column-gap: 10vw;

	grid-template-columns: 1fr;
	grid-template-areas:
		'register'
		'login';

	> :nth-child(1) {
		grid-area: register;
	}

	> :nth-child(2) {
		grid-area: login;
	}

}

// Affiliate Dashboard.
#affwp-affiliate-dashboard {
	grid-template-columns: 1fr;
	grid-template-areas:
		'nav'
		'content';
	grid-column-gap: 4rem;
	grid-row-gap: 2rem;

	.account-nav {
		grid-area: nav;
	}

	.account-content {
		grid-area: content;
	}
}

#affwp-affiliate-dashboard-tabs {
	list-style: none;
	padding: 0;
	margin: 0;
}

.affwp-affiliate-dashboard-tab {
	&.active {
		font-weight: bold;
	}
}

@include media-breakpoint-up(lg) {

	.affwp-login-register {
		grid-template-columns: 2fr 1fr;
		grid-template-areas: 'register login';
	}

	#affwp-affiliate-dashboard {
		grid-template-columns: 1fr 4fr;
		grid-template-areas: 'nav content';
	}

}



// Responsive table styling for mobile resolutions
.affwp-table-responsive td:before {
	content: attr(data-th) ":\00a0";
	font-weight: bold;
}

.affwp-table-responsive td:before {
	display: none;
}

@media (max-width: 767px) {

	#affwp-affiliate-dashboard-campaign-stats .affwp-table-responsive td.affwp-table-no-data {
		display: block;
	}

	#affwp-affiliate-dashboard-visits .affwp-table-responsive td.affwp-table-no-data:before,
	#affwp-affiliate-dashboard-payouts .affwp-table-responsive td.affwp-table-no-data:before,
	#affwp-affiliate-dashboard-referrals .affwp-table-responsive td.affwp-table-no-data:before {
		display: none;
	}

	.affwp-table-responsive td:last-child {
		margin-bottom: 20px;
	}

	.affwp-table-responsive td:first-child {
		background-color: #fafafa;
	}

	.affwp-table-responsive td:before {
		display: inline-block;
	}

	.affwp-table-responsive th {
		display: none;
	}

	.affwp-table-responsive td {
		display: flex;
		justify-content: space-between;
	}

}


#affwp-affiliate-dashboard-referral-counts,
#affwp-affiliate-dashboard-earnings-stats {
	margin-bottom: 2rem;
}

.affwp-wrap {
	margin-bottom: 2rem;
}

#affwp-referral-url {
    margin-bottom: 0.5rem;
}

#affwp-graphs-filter {
    margin-bottom: 1rem;
}

#affwp-graphs-filter .button {
    padding: 0.5rem 1rem;
	width: auto;
}

.affwp-no-results {
    margin-bottom: 0;
}

.affwp-creative {
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid $light-grey;
}

.affwp-creative:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

#affwp-affiliate-dashboard .affwp-graph table {
	width: auto;
}

.visit-converted i {
	display: inline-block;
	position: relative;
	top: 2px;
	left: 2px;
}

.visit-converted i:before {
	font-family: "dashicons";
	font-style: normal;
}

.visit-converted.yes i:before {
	content: "\f147";
	color: #5e95ef;
}

.visit-converted.no i:before {
	content: "\f158";
	color: #ef6c5e;
}

.affwp-errors {
	padding: 1rem;
	margin: 0 0 1rem 0;
}

.affwp-notice {
	padding: 1rem;
	margin: 0 0 1rem 0;
}

p.affwp-error {
	margin: 0 0 0.25rem 0;
}

p.affwp-error:last-of-type {
	margin: 0;
}

// Graphs styles.

// datepicker input field
.affwp-datepicker {
	margin-bottom: 1rem;
}

// select
#affwp-graphs-date-options {
	width: 100%;
	margin-bottom: 1rem;
}

#affwp-date-range-options {
	width: 100%;
}

.affwp-search-date span {
	display: block;
}

.affwp-affiliate-dashboard-visits {
	table-layout: fixed;

	.visit-url {
		width: 30%;
	}

	.referring-url {
		width: 30%;
	}

	.referral-status {
		width: 15%;
	}

	.visit-date {
		width: 25%;
	}

}

@include media-breakpoint-up(md) {

	#affwp-date-range-options {
		width: auto;
	}

	#affwp-graphs-date-options {
		width: auto;
		margin-right: 1rem;
		margin-bottom: 0;
	}

	.affwp-datepicker {
		width: auto;
		margin-right: 1rem;
	}

	.affwp-search-date span {
		display: inline-block;
		margin-right: 0.5rem;
	}

}
