// EDD - Points and Rewards

// Load Bootstrap variables and mixins.
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Load Themedd variables
@import '../variables';
@import '../variables-themedd';

// Single download.
.edd-points-product-message {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

// Pagination.
.edd-points-paging {
    text-align: center;

	.pagination * {
		padding: 0.5rem;
	}

	.pagination .disabled {
		display: none;
	}
}

.edd-points-paging .edd-points-tablenav-pages .current {
    font-weight: bold;
}

// Loading icon when viewing points as user (pagination)
.edd-points-sales-loader {
	display: none;
    text-align: center;
}

.edd-points-checkout-message,
.edd-points-redeem-points-wrap {
	background: $light-grey-alt;
	border: 2px solid $border-light-grey-alt;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
}

.edd-points-redeem-message {
	vertical-align: middle;
}

@include media-breakpoint-up(xl) {

	.edd-points-checkout-message,
	.edd-points-redeem-points-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			margin-bottom: 0;
		}
	}

}
