// General navigation styling

// remove outlines
button:hover,
button:focus {
	outline: none;
}

// navigation list styling
.secondary-navigation ul,
.main-navigation ul {
	list-style: none;
	margin: 0;
}

// hide the primary navigation until it's needed
.primary-menu {
	display: none;
}

// hide the secondary menu by default at mobile sizes
// this is usually the secondary menu but could also be the primary menu if placed there
.site-header-wrap .site-header-menu {
	display: none;
}

// Main navigation styling

.main-navigation a {
	display: block;
	line-height: 1.5;
	font-size: @nav-font-size;
	padding: 0.75rem 0;
	color: @nav-color;
	border-bottom: none;
}

.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
	color: @nav-active-color;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: @nav-hover-color;
	border-bottom: none;
}

.main-navigation li {
	position: relative;
}

.main-navigation ul ul {
	display: none;
}

// leave right margin for the button
.main-navigation .menu-item-has-children > a {
	margin: 0;
	padding-right: 2rem;
}

// if the cart icon is moved to the primary navigation let's center it
.primary-menu li.checkout {
    align-self: center;

	.nav-cart-text {
		display: none;
	}
}

.media-mixin(@break) when (@break = @nav-sm-max) {

	// show the menus when there's no JS, or when they have been toggled
	.no-js .main-navigation ul ul {
		display: block;
	}

	// add padding top and bottom at mobile sizing
	.main-navigation.toggled .primary-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.main-navigation a {
		padding-left: 2rem;
		padding-right: 2rem;
	}

}

// show desktop nav
.media-mixin(@break) when (@break = @desktop-nav) {

	.main-navigation .primary-menu {
        display: flex;

        // allow the nav items to wrap onto the next line
        flex-wrap: wrap;

		margin-left: -1rem; // lines the UL up with the logo/site title
		margin-right: -1rem;
	}

	// clearfix
	#site-navigation ul.menu:after,
	#secondary-navigation ul.menu:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	.site-header-menu {
		display: block;
	}

	.site-header-wrap .site-header-menu {
		display: block;
	}

	// sub menu
	.main-navigation .sub-menu a {
		padding: @sub-menu-padding;
		color: @nav-sub-color;
	}

	.main-navigation .sub-menu .current-menu-item a {
		color: @nav-sub-active-color;
        background: @nav-sub-background-active-color;

		&:hover {
			color: @nav-sub-active-hover-color;
	        background: @nav-sub-background-active-hover-color;
		}
	}

	.site-header-menu .main-navigation {
		margin: 0 auto;
		max-width: @main-nav-max-width;
		padding: 0 2rem;
	}

	.main-navigation li {
		border: 0;
	}

	.main-navigation a {
		outline-offset: -8px;
		padding: @nav-md-padding;
		white-space: nowrap;
	}

	.main-navigation li:hover > a,
	.main-navigation li.focus > a {
		color: @nav-hover-color;
	}

	.secondary-navigation li {
		float: left;
	}

	.secondary-navigation a {
		padding: @nav-secondary-md-padding;
	}

	// sub-menus
	.main-navigation .sub-menu li:hover > a,
	.main-navigation .sub-menu li.focus > a {
		color: @nav-sub-hover-color;
		background: @nav-sub-background-hover-color;
	}

	.main-navigation ul ul {
		border: @nav-sub-border;
		display: block;
		float: left;
		margin: 0;
		position: absolute;
		left: -999em;
		z-index: 99999;
		opacity: 0;
		top: 110%;
		visibility: hidden;
	}

	.main-navigation li:hover > ul,
	.main-navigation li.focus > ul {
		left: auto;
		opacity: 1;
		top: 100%;
		visibility: visible;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
	}

	.main-navigation ul ul ul:before,
	.main-navigation ul ul ul:after {
		border: 0;
	}

	.main-navigation ul ul li {
		background-color: @nav-sub-background-color;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		top: -2px;
	}

	.main-navigation ul ul a {
		white-space: normal;
		width: 15em;
		font-size: @nav-sub-font-size;
		line-height: 1.5;
	}

	.main-navigation .menu-item-has-children > a:after {
		content: "\f431";
		position: absolute;
		right: 0.625em;
		top: 50%;
		margin-top: -8px;
	}

	.main-navigation ul ul .menu-item-has-children > a {
		padding-right: 2.0625em;
	}

	// rotate the down error so it becomes a right arrow
	.main-navigation ul ul .menu-item-has-children > a:after {
		transform: rotate(-90deg);
		top: 50%;
		margin-top: -9px;
		right: 0.5625em;
	}

}
