// Content

.entry-content a {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.updated:not(.published) {
	display: none;
}

.alignfull,
.alignwide {
	margin-bottom: 2rem;
}

.entry-content.content-wrapper {
	> ul:not(.wp-block-gallery) {
		padding-left: 2rem;
		width: 100%;
	}

	.wp-block-gallery {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.wp-block-gallery {
	margin-left: 0;
	margin-right: 0;
}


.no-sidebar:not(.page-template-slim):not(.page-template-full-width) .content-wrapper > .alignfull {
	padding-left: 0;
	padding-right: 0;
}

.no-sidebar {

	.content-wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;

		> * {
			padding-left: ($grid-gutter-width / 2);
			padding-right: ($grid-gutter-width / 2);
			width: 100%;
		}

		.wp-block-separator {
			width: auto;
		}

		.edd_downloads_list {
			padding-left: 0;
			padding-right: 0;
		}

		> .alignwide {

			&.wp-block-cover {
				max-width: calc(100% - 30px);
			}

			&.wp-block-cover-image {
				max-width: 1170px; // Cover images have the padding included so needs to be accounted for.
			}
		}

	}

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	figure.alignfull {
		width: 100%;
		max-width: none;
	
		img {
			width: 100%;
		}
		
	}

	.wp-block-embed {
		width: 100%;
	}

	@if $enable-grid-classes {
		.content-wrapper > * {
			@include make-container-max-widths();
		}
	}

}

@include media-breakpoint-up(sm) {
	.no-sidebar .content-wrapper > .alignwide.wp-block-cover {
		max-width: 540px - $grid-gutter-width;
	}
}


@include media-breakpoint-up(md) {
	.no-sidebar .content-wrapper > .alignwide.wp-block-cover {
		max-width: 720px - $grid-gutter-width;
	}
}

@include media-breakpoint-up(lg) {
	.no-sidebar .content-wrapper > .alignwide.wp-block-cover {
		max-width: 960px - $grid-gutter-width;
	}
}

@include media-breakpoint-up(xl) {

	.no-sidebar:not(.page-template) .content-wrapper > .alignfull {
		max-width: 100%;
	}

	.no-sidebar .content-wrapper > *
	{
		max-width: 750px;
	}

	.page-template-full-width.no-sidebar .content-wrapper > *,	
	.no-sidebar .content-wrapper > .alignwide {
		max-width: 1200px;
	}

	.no-sidebar .content-wrapper > .alignwide.wp-block-cover {
		max-width: 1200px - $grid-gutter-width;
	}

}