// Content

// Hide updated date.
.updated:not(.published) {
	display: none;
}

.alignfull,
.alignwide {
	margin-bottom: 2rem;
}

.no-sidebar {

	.content-wrapper > * {
		margin-left: auto;
		margin-right: auto;
		padding-right: ($grid-gutter-width / 2);
 		padding-left: ($grid-gutter-width / 2);
	}

	// For normal images
	.content-wrapper > .alignwide {
		// Cover images have the padding included so needs to be accounted for.
		&.wp-block-cover-image {
			max-width: 1170px;
		}
	}

	.content-wrapper > .alignfull {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	figure.alignfull {
		width: 100%;
	
		img {
			width: 100%;
		}
		
	}

	.wp-block-embed.is-type-video iframe {
		width: 100%;
	}

	@if $enable-grid-classes {
		.content-wrapper > * {
			@include make-container-max-widths();
		}
	}

}

.no-sidebar .edd_downloads_list {
	padding-left: 0;
	padding-right: 0;
}

.entry-content.content-wrapper {
	ul {
		padding-left: 2rem;
	}
}

@include media-breakpoint-up(xl) {

	.no-sidebar .content-wrapper > *,
	.no-sidebar #comments {
		max-width: 740px;
	} 

	.no-sidebar .content-wrapper > .alignwide {
		max-width: 1200px;
	}

	.no-sidebar .content-wrapper > .alignfull {
		max-width: 100%;
	}
}
