
.icon {
	--icon-color: #{$icon-color};
	--icon-hover-color: #{$icon-hover-color};

	fill: currentColor;
	color: var(--icon-color);
}

// Set the hover color of any .icon inside a <button> (except the navbar toggler) or <a>
button:not(.navbar-toggler):hover .icon,
a:hover .icon {
	color: var(--icon-hover-color);
}

.icon-chevron-left {
	margin: 0 0 0 -0.5rem;
}

.icon-chevron-right {
	margin: 0 -0.5rem 0 0;
}