
.icon {
	fill: currentColor;
	color: $icon-color;
}

button:not(.navbar-toggler):hover .icon,
a:hover .icon {
	color: $icon-hover-color;
}

.icon-chevron-left {
	margin: 0 0 0 -0.5rem;
}

.icon-chevron-right {
	margin: 0 -0.5rem 0 0;
}