// Tables.
// Table styles in Bootstrap are "opt-in" due to the widespread use of tables across third-party widgets like calendars and date pickers.
// Since we can't expect users in WordPress to add a .table class to each table they create, we'll target tables in content areas and automatically style them.

#wp-calendar,
.entry-content table {
	width: 100%;
	margin-bottom: $spacer;
	background-color: $table-bg; // Reset for nesting within parents with `background-color`.
	border: $table-border-width solid $table-border-color;

	th,
	td {
	  padding: $table-cell-padding;
	  vertical-align: top;
	  border: $table-border-width solid $table-border-color;
	}

	thead th {
	  vertical-align: bottom;
	}

	tbody + tbody {
	  border-top: (2 * $table-border-width) solid $table-border-color;
	}

	.table {
	  background-color: $body-bg;
	}
}

// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.table-responsive {
	@each $breakpoint in map-keys($grid-breakpoints) {
	  $next: breakpoint-next($breakpoint, $grid-breakpoints);
	  $infix: breakpoint-infix($next, $grid-breakpoints);

	  &#{$infix} {
		@include media-breakpoint-down($breakpoint) {
		  display: block;
		  width: 100%;
		  overflow-x: auto;
		  -webkit-overflow-scrolling: touch;
		  -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

		  // Prevent double border on horizontal scroll due to use of `display: block;`
		  > .table-bordered {
			border: 0;
		  }
		}
	  }
	}
  }