body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

// site description
.site-description {
	font-size: 1.2rem;
	margin-bottom: 0;
	color: $gray-500;
}