body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

// Site title
.site-title {
	font-size: inherit;
	line-height: inherit;
}

// site description
.site-description {
	font-size: 1.2rem;
	margin-bottom: 0;
	color: $gray-500;
}

.single .entry-content p {
	margin-bottom: 2rem;
}

// Reduce the size of the secondary navigation.
#nav-secondary {
	font-size: $nav-secondary-font-size;
}

// Force the dropdown menu to inherit the font-size from the secondary menu
#nav-secondary .dropdown-menu {
	font-size: inherit;
}