body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

// site description
.site-description {
	font-size: 1.2rem;
	margin-bottom: 0;
	color: $gray-500;
}

.single .entry-content p {
	font-size: 1.125rem;
	line-height: 1.7;
	margin-bottom: 2rem;
}