// These variables are purposely loaded after Bootstrap's variables so we can use them.

// Navigation.
$nav-secondary-font-size: $font-size-base * 0.875 !default;

// Icons.
$icon-color: $gray-600;
$icon-hover-color: rgba($black, .9);

// Navbar toggler.
$navbar-toggler-icon-color: #fff !default;
$navbar-toggler-bg: $gray-800 !default;
$navbar-toggler-border-color: $navbar-toggler-bg !default;
$navbar-toggler-text-color: #fff !default;

// Navbar.
$navbar-color:  rgba($black, .5);
$navbar-active-color: rgba($black, .9);
$navbar-hover-color: rgba($black, .7);
$navbar-disabled-color: rgba($black, .3);

// Footer.
$nav-footer-link-color: $gray-600;
$nav-footer-link-hover-color: $gray-800;
$footer-bg: #fff;

// Search.
$search-icon-color: $body-color;
$search-bg: $gray-100; // #f8f9fa

// Page max-width when Full Width Layout is enabled.
$page-max-width: 1440px !default;

// Colors.
$required-color: $red;

// Buttons.
$btn-font-size: $font-size-base !default;
$btn-font-size-lg: $font-size-lg !default;
$btn-font-size-sm: $font-size-sm !default;

// Compatibility - Easy Digital Downloads.
$edd-product-title-color: $gray-800;
$edd-product-title-font-size: 1.2rem !default;
$edd-single-product-title-font-size: 2.25rem !default;
$edd-single-product-price-font-size: 1.5rem !default;
$edd-product-title-hover-color: #000;
$edd-price-color: $gray-600 !default;
//$edd-add-to-cart-background-color: #18e663 !default;
$edd-add-to-cart-background-color: #10c151 !default;

$edd-add-to-cart-border-color: $edd-add-to-cart-background-color !default;

// Nav cart
$cart-color: #fff;
$cart-link-color: rgba($black, .5);
$cart-link-hover-color: rgba($black, .7);

// Dropdown.
$dropdown-font-size: 0.875rem !default;

// Notices/errors.
$alert-background-color: #fdfdd5;
$alert-text-color: #787878;

// Blog
$post-author-bage-background-color: theme-color("primary");
$post-navigation-meta-nav-color: rgba($black, .5);

// Alert - error.
$alert-error-background-color: #f8d7da;
$alert-error-border-color: #f5c6cb;
$alert-error-text-color: #721c24;

// Alert - Success.
$alert-success-text-color: #155724;
$alert-success-background-color: #d4edda;
$alert-success-border-color: #c3e6cb;

// Alert - Info.
$alert-info-text-color: #0c5460;
$alert-info-background-color: #d1ecf1;
$alert-info-border-color: #bee5eb;

// Alert - Warn.
$alert-warn-text-color: #856404;
$alert-warn-background-color: #fff3cd;
$alert-warn-border-color: #ffeeba;

// Pre v1.1 variables (to review for v1.1)
$primary-color: #448FD5;
$light-grey: #f5f5f5;
$light-grey-alt: #fcfcfc;
$border-light-grey-alt: darken( $light-grey-alt, 3% );

$medium-grey: #a2a2a2;
$body-text-color: #696969;
// Box.
$box-padding: 2rem;
$box-border: 2px solid $border-light-grey-alt;
$box-background-color: $light-grey-alt;
// Account page.
$account-tab-link-color: $body-text-color;
$account-tab-link-hover-color: $primary-color;
$account-tab-link-active-color: $primary-color;
$account-tab-active-color: $primary-color;