// These variables are purposely loaded after Bootstrap's variables so we can use them.

// Navigation.
$nav-secondary-font-size: $font-size-sm;

// Icons.
$icon-color: $gray-600;
$icon-hover-color: rgba($black, .9);

// Navbar toggler.
$navbar-toggler-icon-color: #fff;
$navbar-toggler-bg: $gray-800;
$navbar-toggler-border-color: rgba($black, .1);
$navbar-toggler-text-color: #fff;

$navbar-color:  rgba($black, .5);
$navbar-active-color: rgba($black, .9);
$navbar-hover-color: rgba($black, .7);
$navbar-disabled-color: rgba($black, .3);

// Footer.
$nav-footer-link-color: $gray-600;
$nav-footer-link-hover-color: $gray-800;
$footer-bg: #fff;

// Search.
$search-icon-color: $body-color;
$search-bg: #f5f5f5;

// Page max-width when Full Width Layout is enabled.
$page-max-width: 1440px !default;

// Colors.
$required-color: $red;

// Compatibility - Easy Digital Downloads.
$edd-download-title-color: $gray-700;
$edd-download-title-font-size: 1.2rem;
$edd-download-title-hover-color: #000;

// Nav cart
$cart-color: #fff;
$cart-link-color: rgba($black, .5);
$cart-link-hover-color: rgba($black, .7);

// Dropdown.
$dropdown-font-size: 0.875rem !default;

// Pre v1.1 variables (to review for v1.1)
$primary-color: #448FD5;
$light-grey: #f5f5f5;
$light-grey-alt: #fcfcfc;
$border-light-grey-alt: darken( $light-grey-alt, 3% );

$medium-grey: #a2a2a2;
$body-text-color: #696969;
// Box.
$box-padding: 2rem;
$box-border: 2px solid $border-light-grey-alt;
$box-background-color: $light-grey-alt;
// Account page.
$account-tab-link-color: $body-text-color;
$account-tab-link-hover-color: $primary-color;
$account-tab-link-active-color: $primary-color;
$account-tab-active-color: $primary-color;

// Notices/errors.
$alert-background-color: #fdfdd5;
$alert-text-color: #787878;

// Alert - error.
$alert-error-background-color: #f2dede;
$alert-error-border-color: #ebccd1;
$alert-error-text-color: #a94442;

// Alert - Success.
$alert-success-text-color: #3c763d;
$alert-success-background-color: #dff0d8;
$alert-success-border-color: #d6e9c6;

// Alert - Info.
$alert-info-text-color: #31708f;
$alert-info-background-color: #d9edf7;
$alert-info-border-color: #cbe3ef;

// Alert - Warn.
$alert-warn-text-color: #8a6d3b;
$alert-warn-background-color: #fcf8e3;
$alert-warn-border-color: #faebcc;