// These variables are purposely loaded after Bootstrap's variables so we can use them.

// Navigation.
$nav-secondary-font-size: $font-size-base * 0.875 !default;

// Icons.
$icon-color: $gray-600 !default;
$icon-hover-color: rgba($black, .9) !default;

// Navbar toggler.
$navbar-toggler-icon-color: #fff !default;
$navbar-toggler-bg: $gray-800 !default;
$navbar-toggler-border-color: $navbar-toggler-bg !default;
$navbar-toggler-text-color: #fff !default;

// Navbar.
$navbar-color:  rgba($black, .6) !default;
$navbar-active-color: rgba($black, .9) !default;
$navbar-hover-color: rgba($black, .7) !default;
$navbar-disabled-color: rgba($black, .3) !default;

// Footer.
$footer-site-info-font-size: 0.875rem !default;
$nav-footer-link-color: $gray-600;
$nav-footer-link-hover-color: $gray-800;
$footer-bg: #fff;

// Search.
$search-icon-color: $body-color;
$search-bg: $gray-100; // #f8f9fa

// Page max-width when Full Width Layout is enabled.
$page-max-width: 1440px !default;

// Colors.
$required-color: $red;

// Buttons.
$btn-text-transform: uppercase;
$btn-font-size: $font-size-base !default;
$btn-font-size-lg: $font-size-lg !default;
$btn-font-size-sm: $font-size-sm !default;

// Easy Digital Downloads.
$edd-product-title-hover-color: #000;

$edd-purchase-button-background-color: $primary !default;
$edd-purchase-button-background-hover-color: darken( $edd-purchase-button-background-color, 5% ) !default;

// Easy Digital Downloads - Product grid.
$edd-product-title-color: $gray-800 !default;
$edd-product-title-font-size: 1.375rem !default;
$edd-product-title-font-weight: 600 !default;

$edd-product-price-font-weight: 600 !default;
$edd-product-price-color: $body-color !default;
$edd-product-price-font-size: 1.1875rem !default;

// Easy Digital Downloads - Single product.
$edd-single-product-title-font-size: 2.25rem !default;
$edd-single-product-price-font-size: 1.5rem !default;
$edd-single-product-price-font-weight: 600 !default;
$edd-single-product-price-color: $body-color !default;

// Easy Digital Download - Checkout.
$edd-checkout-field-label-font-weight: 500 !default;
$edd-checkout-field-description-font-size: 0.875rem !default;
$edd-checkout-field-description-font-weight: 400 !default;

// Nav cart.
$cart-color: #fff !default;
$cart-link-color: rgba($black, .6) !default;
$cart-link-hover-color: rgba($black, .7) !default;

// Dropdown.
$dropdown-font-size: 0.875rem !default;

// Notices/errors.
$alert-background-color: #fdfdd5;
$alert-text-color: #787878;

// Blog
$post-author-bage-background-color: theme-color("primary") !default;
$post-author-badge-icon-color: #fff !default;
$post-navigation-meta-nav-color: rgba($black, .6) !default;

// Alert - error.
$alert-error-background-color: #f8d7da;
$alert-error-border-color: #f5c6cb;
$alert-error-text-color: #721c24;

// Alert - Success.
$alert-success-text-color: #155724;
$alert-success-background-color: #d4edda;
$alert-success-border-color: #c3e6cb;

// Alert - Info.
$alert-info-text-color: #0c5460;
$alert-info-background-color: #d1ecf1;
$alert-info-border-color: #bee5eb;

// Alert - Warn.
$alert-warn-text-color: #856404;
$alert-warn-background-color: #fff3cd;
$alert-warn-border-color: #ffeeba;

// Pre v1.1 variables (to review for v1.1)
$primary-color: #448FD5;
$light-grey: #f5f5f5;
$light-grey-alt: #fcfcfc;
$border-light-grey-alt: darken( $light-grey-alt, 3% );

$medium-grey: #a2a2a2;
$body-text-color: #696969;
// Box.
$box-padding: 2rem;
$box-border: 2px solid $border-light-grey-alt;
$box-background-color: $light-grey-alt;
// Account page.
$account-tab-link-color: $body-text-color;
$account-tab-link-hover-color: $primary-color;
$account-tab-link-active-color: $primary-color;
$account-tab-active-color: $primary-color;