.themedd-widget-usage {
	background: #fbe3e3;
	padding: 10px;
}

#sidebar-download .themedd-widget-usage,
#sub-accordion-section-sidebar-widgets-sidebar-download .themedd-widget-usage {
	display: none;
}
