@charset "UTF-8";
.affwp-login-register,
#affwp-affiliate-dashboard {
  display: grid; }

.affwp-login-register {
  grid-row-gap: 1.5rem;
  grid-column-gap: 10vw;
  grid-template-columns: 1fr;
  grid-template-areas: 'register' 'login'; }
  .affwp-login-register > :nth-child(1) {
    grid-area: register; }
  .affwp-login-register > :nth-child(2) {
    grid-area: login; }

#affwp-affiliate-dashboard {
  grid-template-columns: 1fr;
  grid-template-areas: 'nav' 'content';
  grid-column-gap: 4rem;
  grid-row-gap: 2rem; }
  #affwp-affiliate-dashboard .account-nav {
    grid-area: nav; }
  #affwp-affiliate-dashboard .account-content {
    grid-area: content; }

#affwp-affiliate-dashboard-tabs {
  list-style: none;
  padding: 0;
  margin: 0; }

.affwp-affiliate-dashboard-tab.active {
  font-weight: bold; }

@media (min-width: 992px) {
  .affwp-login-register {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'register login'; }

  #affwp-affiliate-dashboard {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'nav content'; } }
.affwp-table-responsive td:before {
  content: attr(data-th) ": ";
  font-weight: bold; }

.affwp-table-responsive td:before {
  display: none; }

@media (max-width: 767px) {
  #affwp-affiliate-dashboard-campaign-stats .affwp-table-responsive td.affwp-table-no-data {
    display: block; }

  #affwp-affiliate-dashboard-visits .affwp-table-responsive td.affwp-table-no-data:before,
  #affwp-affiliate-dashboard-payouts .affwp-table-responsive td.affwp-table-no-data:before,
  #affwp-affiliate-dashboard-referrals .affwp-table-responsive td.affwp-table-no-data:before {
    display: none; }

  .affwp-table-responsive td:last-child {
    margin-bottom: 20px; }

  .affwp-table-responsive td:first-child {
    background-color: #fafafa; }

  .affwp-table-responsive td:before {
    display: inline-block; }

  .affwp-table-responsive th {
    display: none; }

  .affwp-table-responsive td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
#affwp-affiliate-dashboard-referral-counts,
#affwp-affiliate-dashboard-earnings-stats {
  margin-bottom: 2rem; }

.affwp-wrap {
  margin-bottom: 2rem; }

#affwp-referral-url {
  margin-bottom: 0.5rem; }

#affwp-graphs-filter {
  margin-bottom: 1rem; }

#affwp-graphs-filter .button {
  padding: 0.5rem 1rem;
  width: auto; }

.affwp-no-results {
  margin-bottom: 0; }

.affwp-creative {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f5f5f5; }

.affwp-creative:last-of-type {
  border-bottom: none;
  padding-bottom: 0; }

#affwp-affiliate-dashboard .affwp-graph table {
  width: auto; }

.visit-converted i {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 2px; }

.visit-converted i:before {
  font-family: "dashicons";
  font-style: normal; }

.visit-converted.yes i:before {
  content: "\f147";
  color: #5e95ef; }

.visit-converted.no i:before {
  content: "\f158";
  color: #ef6c5e; }

.affwp-errors {
  padding: 1rem;
  margin: 0 0 1rem 0; }

.affwp-notice {
  padding: 1rem;
  margin: 0 0 1rem 0; }

p.affwp-error {
  margin: 0 0 0.25rem 0; }

p.affwp-error:last-of-type {
  margin: 0; }

.affwp-datepicker {
  margin-bottom: 1rem; }

#affwp-graphs-date-options {
  width: 100%;
  margin-bottom: 1rem; }

#affwp-date-range-options {
  width: 100%; }

.affwp-search-date span {
  display: block; }

.affwp-affiliate-dashboard-visits {
  table-layout: fixed; }
  .affwp-affiliate-dashboard-visits .visit-url {
    width: 30%; }
  .affwp-affiliate-dashboard-visits .referring-url {
    width: 30%; }
  .affwp-affiliate-dashboard-visits .referral-status {
    width: 15%; }
  .affwp-affiliate-dashboard-visits .visit-date {
    width: 25%; }

@media (min-width: 768px) {
  #affwp-date-range-options {
    width: auto; }

  #affwp-graphs-date-options {
    width: auto;
    margin-right: 1rem;
    margin-bottom: 0; }

  .affwp-datepicker {
    width: auto;
    margin-right: 1rem; }

  .affwp-search-date span {
    display: inline-block;
    margin-right: 0.5rem; } }

/*# sourceMappingURL=affiliatewp.css.map */