#fes-submission-form-title,
#fes-profile-form-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.62rem;
}
.fes-vendor-contact-form {
  padding: 2rem;
  border: 2px solid #f4f4f4;
  background: #fcfcfc;
}
.fes-vendor-contact-form fieldset {
  margin-bottom: 0;
}
.fes-vendor-menu ul {
  list-style-type: none;
  margin: 0;
}
.fes-vendor-menu ul li {
  position: relative;
  margin-bottom: 0;
}
.fes-vendor-menu ul a {
  display: block;
  font-size: 1rem;
  color: #222;
}
.fes-vendor-menu ul a:hover {
  color: #448FD5;
}
.fes-form-fieldset {
  margin-bottom: 0;
}
.fes-login-form,
.fes-login-registration-combo form {
  padding: 2rem;
  border: 2px solid #f4f4f4;
  background: #fcfcfc;
}
.entry-content > .fes-login-form + #fes_lost_password_link,
.entry-content > .fes-login-form {
  width: 62%;
  margin: 0 auto 1rem auto;
}
.entry-content > .fes-login-form + #fes_lost_password_link {
  display: block;
}
.fes-el,
.fes-login-form {
  margin-bottom: 1rem;
}
fieldset.fes-submit {
  margin-bottom: 0;
}
.fes-help {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #838383;
}
#fes-vendor-announcements {
  margin-bottom: 1rem;
}
#fes-vendor-store-link {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
#fes-vendor-store-link p {
  color: #31708f;
}
.fes-vendor-comment-respond-form table:last-child {
  border: none;
  margin: 0;
}
.fes-vendor-comment-respond-form button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.fes-vendor-comment-respond-form .button {
  margin-right: 1rem;
}
.fes-purchase-badge.fes-purchase-badge-purchased {
  display: inline-block;
  color: #fff;
  background: #5BCC5B;
  padding: 0.5rem 1rem;
}
.fes-comment-author-name {
  margin-bottom: 0.5rem;
  display: block;
}
.fes-product-list-status-bar {
  margin-bottom: 1rem;
}
.edd-fes-action {
  display: block;
}
#fes-product-list .edd_price {
  margin-bottom: 0;
}
.fes-required-indicator {
  color: #a94442;
  font-size: 1.5rem;
  margin-left: 0.25rem;
}
.fes-fields + .edd_errors {
  margin-top: 1rem;
}
#fes-product-list abbr {
  display: block;
}
#fes-product-list .download-status {
  white-space: nowrap;
}
#fes-product-list .published {
  background: #5BCC5B;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
#fes-product-list .pending-review {
  background: #fca432;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.fes-login-registration-notice {
  text-align: center;
}
#fes-save-as-draft {
  margin-right: 1rem;
}
.fes-hide {
  display: none;
}
.fes-url-choose-row {
  width: 100px;
}
.fes-avatar-image {
  display: block;
}
.fes-fields .fes-avatar-image-upload,
.fes-fields .fes-feat-image-upload {
  border: 4px dashed #f5f5f5;
  margin-bottom: 2rem;
  max-width: 12rem;
  position: relative;
  padding: 1.5rem;
  display: inline-block;
}
.fes-fields .fes-avatar-image-upload .instruction-inside,
.fes-fields .fes-feat-image-upload .instruction-inside {
  text-align: center;
}
.fes-fields .fes-avatar-image-upload .button,
.fes-fields .fes-feat-image-upload .button {
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
  display: block;
}
.fes-fields .fes-avatar-image-upload a.close,
.fes-fields .fes-feat-image-upload a.close {
  background: #000;
  color: #a94442;
  display: none;
  font-size: 4rem;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
}
.fes-fields .fes-avatar-image-upload:hover a.close,
.fes-fields .fes-feat-image-upload:hover a.close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fes-fields .fes-feat-image-upload {
  max-width: 100%;
  display: block;
}
.fes-fields .fes-feat-image-upload .button {
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .fes-vendor-menu ul {
    line-height: 2;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .fes-vendor-menu ul li {
    display: inline-block;
    margin-right: 1rem;
  }
  .fes-login-registration-combo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fes-login-registration-combo form {
    padding: 2rem;
    border: 2px solid #f4f4f4;
    background: #fcfcfc;
  }
  .fes-login-registration-combo > div + div {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 48%;
  }
  .fes-login-registration-combo > div {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 48%;
  }
}
@media only screen and (min-width: 992px) {
  .edd-fes-edit-download .fes-vendor-products-tab,
  .edd-fes-edit-order .fes-vendor-orders-tab,
  .fes-vendor-menu-tab.active {
    background: #fff;
  }
  .edd-fes-edit-download .fes-vendor-products-tab a,
  .edd-fes-edit-order .fes-vendor-orders-tab a,
  .fes-vendor-menu-tab.active a {
    color: #448FD5;
  }
  .fes-vendor-dashboard-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .fes-vendor-menu {
    -webkit-flex-basis: 16.667%;
        -ms-flex-preferred-size: 16.667%;
            flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .fes-vendor-dashboard {
    border: 2px solid #f4f4f4;
    border-left: none;
    min-height: 50rem;
    padding: 2rem;
    -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
            flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .fes-vendor-menu ul a {
    display: block;
    padding: 1rem 2rem;
    margin: 0;
  }
  .fes-vendor-menu ul:last-child {
    border-bottom: 2px solid #f4f4f4;
  }
  .fes-vendor-menu ul li {
    background: #fcfcfc;
    border: 2px solid #f4f4f4;
    border-right: none;
    border-bottom: none;
  }
  .fes-vendor-menu ul li {
    display: block;
    margin-right: 0;
  }
  .edd-fes-edit-order .fes-vendor-orders-tab:before,
  .edd-fes-edit-order .fes-vendor-orders-tab:after,
  .edd-fes-edit-download .fes-vendor-products-tab:before,
  .edd-fes-edit-download .fes-vendor-products-tab:after,
  .fes-vendor-menu-tab.active:before,
  .fes-vendor-menu-tab.active:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 2px;
    height: 1000px;
    background: #f4f4f4;
  }
  .edd-fes-edit-order .fes-vendor-orders-tab:after,
  .edd-fes-edit-download .fes-vendor-products-tab:after,
  .fes-vendor-menu-tab.active:after {
    top: 100%;
    bottom: auto;
    height: 40000px;
    z-index: 1;
  }
}
@media only screen and (min-width: 1220px) {
  .fes-login-registration-combo > div + div {
    width: 65%;
  }
  .fes-login-registration-combo > div {
    width: 30%;
  }
}
