.edd_purchase_tax_rate {
	display: block;
	font-size: 0.9375rem; // 15px
	margin-top: 0.5rem;
}

.edd-item-quantity {
	width: 4rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}

.edd-select {
	vertical-align: middle;
}

// Reduce the size of any button after a select menu.
.edd-select ~ .button {
	font-size: 0.875rem;
	padding: 0.25rem 0.75rem;
}

// EDD - Coming Soon
.edd-cs-voted {
	margin-bottom: 0;
}

.edd-cs-voted,
.edd-cs-vote-description {
	font-style: italic;
	font-size: 0.875rem;
}

.edd-cs-vote-description {
	margin-bottom: 1rem;
}

// EDD Wish Lists

.edd-wl-wish-lists .edd-wish-list li::after {
	width: auto;
}